language: cpp

matrix:
    include:
      - os: linux
        dist: bionic
        compiler: gcc
        
      - os: linux
        dist: bionic
        compiler: clang
        
      - os: osx
        osx_image: xcode11.2
        
before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then sudo apt-get install -y libpng-dev libjpeg-dev libtiff-dev libavcodec-dev libavformat-dev libavutil-dev libswscale-dev libsndfile1-dev libsamplerate0-dev libmpg123-dev; fi
  - if [ $TRAVIS_OS_NAME == "osx" ]; then travis_retry brew install libpng libtiff libjpeg ffmpeg mpg123; fi
before_script:
  - mkdir -p build
  - cd build
  - cmake -DWITH_AUDIO_HASH=1 -DWITH_VIDEO_HASH=1 ..
script: make
notifications:
  email: false
